<!--
  ~ This file is part of the Devtronic Super Tokenizer package.
  ~
  ~ (c) Julian Finkler <julian@developer-heaven.de>
  ~
  ~ For the full copyright and license information, please read the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit bootstrap="tests/autoload.php">
    <testsuites>
        <testsuite name="Devtronic Super Tokenizer Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>